* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 10px;
}

a {
	color: #1B9FE0;
}

h1 {
	border-bottom: 1px solid #eee;
	font-size: 160%;
	font-weight: 300;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.crash-info {
	border-bottom: 1px solid #eee;
	line-height: 1.4;
	margin: 10px 0;
	padding-bottom: 10px;
}

.crash-info-title {
	margin-bottom: 15px;
	word-break: break-word;

	strong {
		color: #389BE6;
		font-weight: normal;
	}

	.crash-info-title-exception {
		margin-bottom: 10px;
	}

	.crash-info-title-exception-id {
		color: #ccc;
		font-size: 90%;
	}

	.crash-info-title-file {
		font-size: 90%;
	}
}
